@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&family=Staatliches&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

@import "tailwindcss";




body {
    font-family: 'Space Grotesk', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Space Grotesk', sans-serif;
}

p {
    font-family: 'Space Grotesk', sans-serif;
}

li {
    font-family: 'Space Grotesk', sans-serif;
}

label {
    font-family: 'Space Grotesk', sans-serif;
}

button {
    font-family: 'Space Grotesk', sans-serif;
}

a {
    font-family: 'Space Grotesk', sans-serif;
}
